<%= simple_form_for offer do |f| %>
<div class="forms"> 
    <%= f.input :title%>
    <%= f.input :user %>
    <%= f.input :description %>
    <%= f.input :price %>
    <%= f.input :adress %>
    <%= f.input :phone %>
    <%= f.association :category %>
  </div>

  
<div class="d-grid gap-2 col-6 mx-auto" style="margin-top: 4rem">
    <%= f.button :submit %>
</div>

<% end %>