<p id="notice"><%= notice %></p>

<div class=categorie>
  <h2>Categories</h2>
</div>

<table class="table table-striped">
  <thead>
    <tr>
    
    </tr>
  </thead>

  <tbody>
    <% @categories.each do |category| %>
      <tr>
        <td><%= category.name %></td>
        <td><%= link_to 'Show', category, class: 'btn btn edit'%></td>
        <td><%= link_to 'Edit', edit_category_path(category), class: 'btn btn edit' %></td>
        <td><%= link_to 'Destroy', category,class: 'btn btn edit', method: :delete, data: { confirm: "C'est votre dernier mot Jean-Pierre ?" } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<div class="d-grid gap-2 col-4 mx-auto" style="margin-top: 1.5rem;margin-bottom: 6rem">
  <%= link_to 'New Category', new_category_path, class: 'btn btn-back'%>
</div>